@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Transakcije</h2>
        <p>
           @Html.ActionLink("Transakcije", "Index", "Transactions", new { area = ""}, new { @class = "btn btn-default"})
        </p>
    </div>
    <div class="col-md-4">
        <h2>Računi</h2>
        <p>
            @Html.ActionLink("Računi", "Index", "BankAccounts", new { area = "" }, new { @class = "btn btn-default" })
        </p>
    </div>
</div>