@model BankLite.Model.Transaction

@{
    ViewBag.Title = "Create";
}

<h2>Novi zapis</h2>


@using (Html.BeginForm()) 
{
    @Html.Partial("_CreateOrEdit")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

