@model BankLite.Model.Transaction

@{
    ViewBag.Title = "Edit";
}

<h2>Izmjena</h2>


@using (Html.BeginForm())
{
    @Html.Partial("_CreateOrEdit")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

